<div class="h-16 bg-base-100 flex items-center shadow-md px-8">
  <div class="flex-1"></div>

  <a class="btn btn-circle btn-sm bg-neutral-200 border-0 shadow-none">
    <i class="fi fi-br-bell pt-1 opacity-60"></i>
  </a>

  <div class="divider divider-horizontal px-4 opacity-20"></div>

  <div class="flex items-center gap-4">
    <div class="avatar">
      <div class="w-8 rounded-full">
        <img id="userAvatar" src="" />
      </div>
    </div>

    <div class="flex flex-col">
      <h1 id="userName" class="text-xs uppercase font-bold">Loading...</h1>
      <h2 id="userRole" class="text-xs opacity-60 uppercase">Loading...</h2>
    </div>

    <i class="fi fi-br-angle-small-down pt-1 opacity-60"></i>
  </div>
</div>
